# Configuración de Variables de Entorno (Plantilla)
# Copia este archivo como .env y completa los valores

SPRING_DATASOURCE_URL=jdbc:postgresql://aws-0-us-west-2.pooler.supabase.com:6543/postgres
SPRING_DATASOURCE_USERNAME=postgres.gdyzhnhijyfgohtlbfqd
# Solicita la contraseña al administrador del proyecto
SPRING_DATASOURCE_PASSWORD=
